name: Latest Blog Post Workflow
on:
  schedule:
    - cron: '0 * * * *' # Runs every hour
  workflow_dispatch: 

jobs:
  update-readme-with-blog:
    name: Update this repo with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://www.verdictum.in/feed"
          readme_path: "./verdicttum.md"
          max_post_count: 30
          # Fixed the variable from $url to $link
          template: "- [$title]($url)"
